
* { 
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(236, 243, 236);
    font-family: Arial, Helvetica, sans-serif;
}
.conteiner{
    background-color: darkgray;
    width: 1100px;
    margin: 50px auto;
    padding: 10px;
    overflow: hidden;
}
.blok{
    width: 200px;
    height: 200px;
    background-color: coral;
    margin: 30px;
}
 .blok2{
     display: inline-block;
 }
 .conteiner1{
     text-align: center;
 }
 .conteiner2{
     text-align: left;
 }
 .conteiner3{
     text-align: right;
 }
.pink{
    background-color: coral;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.violet{
    background-color: blueviolet;
}
.red{
    background-color: red;
}
.float1{
    float: left;
}
.float2 {
    float: right;





